@model InterviewTestTemplatev2.Models.BonusPoolCalculatorResultModel


@{
	ViewBag.Title = "Calculate";
}

<h2>Bonus Pool Allocation</h2>

<p>The bonus pool allocation for @Html.DisplayFor(model => model.HrEmployee.Full_Name) is: £@Html.DisplayFor(model => model.BonusPoolAllocation)</p>

@Html.ActionLink("Click here to calculate for another employee", "Index")